# armteam folders
vosk_models/

# python 
__pycache__
*/__pycache__
**/__pycache__
__pycache__/

# virtual enviroments
.venv
/venv
**/venv

# configuration and secrets
config.json

# logs
Logs/

# Intellij
**.idea

# Mac metadata
**.DS_Store
**/.DS_Store
**.ds_store
**/.ds_store

# Language model files
*.Modelfile
/winv
